option, select, input[type="radio"], input[type="submit"] {
  cursor: pointer;
  outline: none;
}

form input:last-child {
  background-color: gold;
}

form input:last-child:hover {
  background-color: gray;
}

section ol li:nth-child(even) {
  background-color: rgb(200,200,200);
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url("./assets/star.png");
    vertical-align: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
input[type="radio"]:checked {
  background-color: gray;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 20px;
}
header img {
  float: left;
  width: 42px;
}

header nav {
  float: right;

}

header:after {
  content: "";
  display: block;
  clear: both;
}

body {
  /*width: 60%;*/
  margin: 0 auto;
  font-family: "Trebuchet MS";
  background-color: rgb(255, 255, 240);
}
.container {
  display: flex;
}
section {
  /*width: 700px;*/
  display: inline-block;
  /*display: flex;*/
}
aside {
  /*width: 180px;*/
  display: inline-block;
  /*display: flex;*/
  margin-right: 15px;
  vertical-align: top;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
}

aside ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

section ol li {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="text"], select {
  display: block;
}

select {
  margin: 15px;
}

input[type="text"], select, textarea {
  width: 160px;
}

.hamburger-dropdown {
  display: none;
}
@media (max-width: 900px) {
  section, aside {
    float: none;
    /*width: 100%;*/
    /*display: block;*/
  }

  header {
    width: 500px;
  }
  aside {
    width: 200px;
  }
  section {
    width: 500px;
  }
  section figure {
    /*width: 500px;*/
  }

  .container {
    display: block;
  }

  .hamburger-dropdown {
    display: block;
    float: right;
    margin-right: 0;
  }

  .hamburger-li {
    background-image: url("./assets/hamburger.png");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
    cursor: pointer;
    position: relative;
  }

  .hamburger-li:hover {
    /*background-color: rgba(255, 0, 0, 0.5);*/
  }

  .hamburger-li:hover ul {
    display: block;
    background: ghostwhite;
  }

  .hamburger-ul {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    margin: 0 0;
    padding: 0 0;
  }

  .hamburger-ul li {
    margin: 10px 10px;
  }

  nav {
    display: none;
  }


}
