<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99 Cats, <%= @user.username %>!</h1>
    <p>
      To login to the site, just follow <a href='<%= @url %>'>this link</a>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
