<br>
<table>
  <tr>
    <th>Comment:</th>
    <td><%=@comment.content%></td>
  </tr>
  <tr>
    <th>Author:</th>
    <td><%=@comment.author.username%></td>
  </tr>
  <tr>
    <th>Post:</th>
    <td><%=link_to @comment.post.title, post_url(id: @comment.post_id)%></td>
  </tr>
</table>

<h2>Reply</h2>
<%= render "form", action: comments_url(post_id: @comment.post_id, parent_comment_id: @comment.id), comment: nil %>
