body {
  font-family: "Overpass";
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.col {
  display: flex;
  width: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.left-col {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.mid-col {

}

.right-col {
  margin-right: 5%;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  width: 100%;
  margin: 20px auto;
}
.tabs ul {
  /*display: flex;*/
  /*justify-content: center;*/
  display: flex;
  height: 30px;
  width: 100%;
  /*border: 1px solid red;*/
  font-size: 0;

}

.tab:hover {
  background-color: rgb(100, 100, 100);
  color: white;
  cursor: pointer;
}

.tab {
  background-color: rgb(245, 245, 255);
  display: inline-block;
  font-size: 12px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: none;
  border-bottom: none;

  display: flex;
  width: 50%;
}
.tab:last-of-type {
  border-right: 1px solid black;
}

.tab.selected {
  background-color: rgb(200, 200, 255);
}

.tab.selected:hover {
  color: rgb(100, 100, 100);
}


.tab h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.tab.selected h2 {
  font-weight: 700;
}

.tabs article {
  background-color: rgb(255, 245, 255);
  border: 1px solid black;
  flex: 1;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  height: 300px;
}


.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}

.clock table {
  width: 100%;
  background-color: rgb(255, 245, 235);
  padding: 10px;
  border: 1px solid black;
}

.clock table th {
  width: 20%;
  text-align: left;
  font-weight: 900;
}

.clock table td {
  width: 80%;
  text-align: right;
  font-weight: 100;
}


.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}

.weather table {
  width: 100%;
  background-color: rgb(245, 255, 235);
  padding: 10px;
  border: 1px solid black;
}

.weather table th {
  width: 20%;
  text-align: left;
  font-weight: 900;
}

.weather table td {
  width: 80%;
  text-align: right;
  font-weight: 100;
}

.weather.loading table th {
  text-align: center;
}

.auto-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  font-size: 16px;

}

.auto-complete input[type="text"] {
  border: 1px solid black;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 5px;
  /*display: flex;*/
}

.auto-complete form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background-color: rgb(255, 245, 245);
  border: 1px solid black;
  height: 400px;
}

.auto-complete ul {
  margin: 10px;
  list-style: disc;
  /*margin-top: none;*/
}

.name:hover {
  cursor:pointer;
}
